.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.modal.active {
    pointer-events: all;
    opacity: 1;
    z-index: 9999;
}

.modal-content {
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 20vw;
    height: 50vh;
    background-color: aliceblue;
    transform: scale(0.4);
    transition: 0.5s;
    overflow-y: auto;
}

.modal-content.active {
    transform: scale(1);
    z-index: 9999;
}

.upload-modal-content {
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 60vw;
    height: 80vh;
    background-color: aliceblue;
    transform: scale(0.4);
    transition: 0.5s;
}
.upload-modal-content.active {
    transform: scale(1);
    z-index: 9999;
}
